@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*бордер бокс на всю страницу*/
*, ::after, ::before {
box-sizing: inherit;
} 

html {
  box-sizing: border-box;
}

.class {
  box-sizing: content-box;
}

:root {
  /*цвета*/
  --extra-dark: #2d3440;
  --dark: #565c66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --white: #ffffff;
  --extra-bright: #ff2f64;
  --bright: #ff4a78;
  --pink-neutral: #ff7799;
  --pink-light: #feafc3;
  --pink-extra-light: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --error: #ea5454;
  --warning: #fd912e;
  --success: #00e484;
  /*Тени*/
  --shadow-small: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --shadow-medium: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --shadow-big: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

body {
  font-family: "Inter", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark);
  padding: 0;
  margin: 0;
  height: 100%;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /*min-width: 1366px; убрать в конце*/
  background-color: var(--pink-light);
  transition: background-color 0.6s;
}

.pink {
  background-color: var(--pink-light);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

/*--Скрытый элемент--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2 {
  font: inherit;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
}

.h3 {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.h4 {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.p {
  font: inherit;
  color: var(--dark);
  margin: 0;
}

.contact-phone {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.contact-phone:hover {
  color: var(--extra-bright);
}

.contact-phone:active {
  color: var(--extra-bright);
  opacity: 0.6;
}

.contact-phone:focus {
  color: var(--extra-bright);
  border: none;
  outline: none;
  box-shadow: none;
}

/*кнопки*/
.button {
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 26px;
  margin: 0;
  padding: 12px 32px;
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  text-align: center;
}

.white-button {
  background: var(--extra-light);
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), var(--shadow-small);
  color: var(--extra-dark);
}

.white-button:hover {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px var(--extra-light), var(--shadow-small);
}

.white-button:active {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 2px var(--extra-dark), var(--shadow-small);
}

.white-button:focus{
  box-shadow: 0 0 0 2px var(--extra-dark), var(--shadow-small);
}

.white-button:disabled,
.white-button:hover:disabled,
.white-button:focus:disabled,
.white-button:active:disabled {
  cursor: default;
  font-weight: 400;
  background: var(--light);
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  color: var(--neutral);
}

.pink-button {
  background: var(--extra-bright);
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), var(--shadow-small);
  color: var(--extra-light);
}

.pink-button:hover {
  background: rgba(252, 252, 252, 0.3);
  color: var(--extra-dark);
  box-shadow: 0 0 0 4px var(--extra-bright);
}

.pink-button:active {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px var(--extra-dark), var(--shadow-small);
}

.pink-button:focus{
  box-shadow: 0 0 0 2px var(--extra-dark), var(--shadow-small);
}

.pink-button:disabled,
.pink-button:hover:disabled,
.pink-button:focus:disabled,
.pink-button:active:disabled {
  cursor: default;
  font-weight: 400;
  background: var(--neutral);
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  color: var(--dark);
}

/* Инпуты */
.input {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  background: var(--white);
  border: 1px solid var(--neutral);
  border-radius: 4px;
  padding: 13px 15px;
  margin: 0;
  cursor: text;
  outline: none;
  box-shadow: none;
}

.input::placeholder {
  color: var(--neutral);
}

.input:hover {
  border-color: var(--extra-dark);
}

.input:focus {
  padding: 12px 14px;
  border: 2px solid var(--extra-dark);
}

.input:focus:invalid,
.input.error {
  border: 1px solid var(--error);
  padding: 13px 15px;
}

.input:hover:invalid,
.input:hover.error {
  padding: 12px 14px;
  border: 2px solid var(--error);
}

.input:disabled {
  padding: 13px 15px;
  background-color: var(--light);
  border: 1px solid var(--neutral);
  color: var(--extra-dark);
  cursor: default;
}

.input::placeholder {
  color: var(--extra-dark);
  opacity: 0.65;
}

.label {
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

/*Убрать стили списка*/
.navigation-main-menu,
.navigation-user-menu,
.social-list,
.footer-navigation,
.footer-navigation-list,
.slider-info-wrapper-list,
.slider-pagination,
.slider-controls-list,
.slider-images,
.bonus-prises-list,
.products-list,
.benefits-list,
.catalog-menu-popover-list,
.auth-links-list,
.cart-items-list,
.breadcrumbs,
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Центровкка SVG*/
.social-item-link svg,
.navigation-link-icon svg,
.slider-button svg,
.basket svg,
.close-window svg  {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*----------Хедер-----------*/
.page-logo {
  display: block;
}

.logo:hover  {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
}


.navigation-main-menu {
  margin: 10px 16px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  cursor: pointer;
  display: block;
  outline: none;
  border-radius: 26px;
  border: none;
  margin: 0;
  text-decoration: none;
  font: inherit;
  line-height: 20px;
  color: inherit;
}

.navigation-main-menu .navigation-link {
  padding: 8px 16px;
  font-size: 16px;
}

.navigation-link-current {
  background-color: var(--bright);
  color: var(--extra-light);
}

.navigation address {
  margin-right: 12px;
  display: grid;
  align-items: center;
}

.navigation .contact-phone {
  font-size: 16px;
  line-height: 20px;
  padding: 6px;
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.navigation-user-menu .navigation-item {
  margin: 12px 8px;
}

.navigation-link-icon {
  min-width: 18px;
  min-height: 18px;
  display: inline-block;
  position: relative;
}

.navigation-link-icon + span {
  margin-left: 6px;
}

.navigation-link-icon + span + span {
  margin-left: 6px;
}

.navigation-link-icon svg {
  fill: var(--extra-dark);
}

.navigation-link  svg + svg {
  display: none;
}

.navigation-user-menu .navigation-link {
  padding: 6px 16px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  align-items: center;
}

.navigation-user-menu .navigation-link[aria-label] {
  padding: 7px;
  border-radius: 50%;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  color: var(--extra-dark);
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--extra-dark);
  color: var(--extra-dark);
}

.navigation-link:active {
  background-color: var(--extra-light);
  color: var(--extra-dark);
}

.navigation-link:focus  svg + svg {
  display: block;
}

/*-----------МЕЙН Главной стр---------*/
.page-main {
  flex-grow: 1;
}

/*Слайдер*/
.slider {
  margin: 24px 0;
  display: grid;
  grid-template-columns: 470px auto;
  gap: 2px;
  padding: 21px 0 26px 70px;
}

/*----левая часть слайдера ----*/
.slider-info-wrapper-item {
  display: none;
}

.show {
  display: block;
}

.slider-info-wrapper-list .h2 {
  font-size: 36px;
  margin-top: 115px;
  margin-bottom: 24px;
}

.slider-info-wrapper-list .p {
  font-size: 18px;
  line-height: 24px;
  color: var(--extra-dark);
  margin-bottom: 48px;
  max-width: 414px;
}

/*пагинация*/
.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
  align-items: center;
  left: 0;
  bottom: 0px;
}

.slider-pagination-item {
  margin: 4px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.slider-pagination-button-current {
  background-color: var(--extra-light);
}

.slider-pagination-button:hover {
  border: 1px solid var(--extra-light);
}

.slider-pagination-button:focus {
  border: 1px solid var(--extra-dark);
}

.slider-pagination-button:active {
  background-color: var(--extra-light);
  border: 1px solid var(--extra-light);
}

/*--Правая часть слайдера--*/
.slider-img-wrapper {
  position: relative;
  overflow: hidden;
}

.slider-controls-list {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-controls-item {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--pink-extra-light);
  opacity: 0.4;
  flex-basis: 100px;
  margin-left: 41px;
}

.slider-controls-item:first-child {
  opacity: 1;
  flex-basis: 312px;
  margin-left: 19px;
  margin-right: 15px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button {
  width: 38px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--extra-light);
  background-color:  rgba(252, 252, 252, 0.3);
  border: 2px solid var(--extra-light);
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
}

.slider-button svg {
  fill: var(--extra-light);
}

.slider-prev {
  transform: translateX(-50%);
}

.slider-next {
  transform: translateX(50%) rotate(180deg);
}

.slider-button:hover {
  background-color: var(--extra-light);
}

.slider-button:hover svg {
  fill: var(--extra-dark);
}

.slider-button:focus {
  border-color: var(--extra-dark);
}

.slider-button:focus svg {
  fill: var(--extra-dark);
}

.slider-button:active {
  border-color: var(--extra-dark);
  background-color: var(--extra-light);
}

.slider-button:active svg {
  fill: var(--extra-dark);
}

.slider-button:disabled,
.slider-button:hover:disabled,
.slider-button:focus:disabled,
.slider-button:active:disabled {
  background-color:  rgba(252, 252, 252, 0.3);
  border: 2px solid var(--extra-light);
  cursor: default;
  opacity: 0.4;
  cursor: default;
}

.slider-button:disabled svg {
  fill: var(--extra-light);
}

/*часть с изображение мороженного*/
.slider-images {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.slider-img {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

/*.slider-images li:not(:first-child) {
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

.slider-images li:first-child {
  flex-basis: 306px;
  margin-left: 19px;
  margin-right: 16.5px;
  opacity: 1;
}*/

/*1*/
.current-1 .img-1 {
  order: 1;
  flex-basis: 306px;
  margin-left: 19px;
  margin-right: 16.5px;
  opacity: 1;
}

.current-1 .img-2 {
  order: 2;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

.current-1 .img-3 {
  order: 3;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

/*2*/
.current-2 .img-1 {
  order: 3;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

.current-2 .img-2 {
  order: 1;
  flex-basis: 306px;
  margin-left: 19px;
  margin-right: 16.5px;
  opacity: 1;
}

.current-2 .img-3 {
  order: 2;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

/*3*/
.current-3 .img-1 {
  order: 2;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

.current-3 .img-2 {
  order: 3;
  flex-basis: 91px;
  opacity: 0.4;
  margin: auto 0;
  margin-left: 50px;
}

.current-3 .img-3 {
  order: 1;
  flex-basis: 306px;
  margin-left: 19px;
  margin-right: 16.5px;
  opacity: 1;
}


/*нижняя часть*/
.slider-bottom-wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slider .social-list {
  margin: 0 -8px;
}

.slider .social-item {
  margin-bottom: 0;
}

/*-------Бонусы---------*/
.bonus-prises {
  margin: 80px 0;
}

.bonus-prises .h2 {
  text-align: center;
}

.bonus-prises-list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.bonus-prises-item {
  padding: 40px;
  padding-right: 209px;
  border-radius: 16px;
  background-color: var(--pink-neutral);
}

.bonus-prises-item .h3 {
  margin-bottom: 16px;
}

.bonus-prises-item .p {
  color: var(--extra-dark);
  margin-bottom: 32px;
}

.gift-raspberry {
  background-image: url("../images/gift-raspberry.png");
  background-size: auto;
  background-position: bottom 0 right 15px;
  background-repeat: no-repeat;
}

.gift-marshmallow {
  background-image: url("../images/gift-marshmallow.png");
  background-size: auto;
  background-position: bottom 0 right 7px;
  background-repeat: no-repeat;
}

/*--Продукты--*/
.products {
  margin: 80px 0;
}

.products .h2 {
  text-align: center;
  margin-bottom: 56px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
}

.products-card {
  display:  flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 51px;
  padding: 24px 40px;
  border-radius: 8px;
  background-color: var(--extra-light);
}

.products-card-img {
  position: relative;
  margin: -75px auto 16px auto;
  width: 168px;
  aspect-ratio: 1 / 1;
}

.product-card-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.products-card .h4 {
  margin-bottom: 8px;
}

.products-card .p {
  margin-bottom: 20px;
}

.price-and-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}

.basket {
  width: 32px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: var(--extra-bright);
  box-shadow: none;
  position: relative;
}

.basket svg {
  fill: var(--extra-light);
  right: 6%;
}

.basket:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--extra-bright);
}

.basket:hover svg {
  fill: var(--extra-dark);
}

.basket:focus {
  border: 2px solid var(--extra-dark);
}

.basket:active {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--extra-dark);
}

.basket:active svg {
  fill: var(--extra-dark);
}

.basket:disabled,
.basket:hover:disabled,
.basket:focus:disabled,
.basket:active:disabled {
  background-color: var(--neutral);
  border: none;
  cursor: default;
}

.basket:disabled svg {
  fill: var(--dark);
}

/*преимущества*/
.about {
  margin: 80px 0;
  padding: 24px;
  background-color: var(--pink-neutral);
  background-image: url("../images/waffle-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.about-wrapper {
  background-color: var(--extra-light);
  border-radius: inherit;
  padding: 56px 40px;
}

.about .h2 {
  text-align: center;
  margin-bottom: 56px;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 40px;
}

.benefits-item {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 16px;
}

.benefits-item::before {
  content: "";
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--extra-dark);
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits-item.ice-cream::before {
  background-image: url("../images/benefits-ice-cream.svg");
}

.benefits-item.cow::before {
  background-image: url("../images/benefits-cow.svg");
}

.benefits-item.tree-leaf::before {
  background-image: url("../images/benefits-tree-leaf.svg");
}

.benefits-item.thermometer::before {
  background-image: url("../images/benefits-thermometer.svg");
  background-position: center left 60%
}

/* ссылка и подписка на рассылку*/
.bonus-prises {
  margin: 80px 0;
  margin-bottom: 76px;
}

.bonus-prises-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.new {
  display: block;
  padding: 32.5px 235px 63.15px 32px;
  border-radius: 16px;
  background-image: url("../images/ice-cream-news-background.jpg");
  background-size: auto 100%;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  background-color: var(--white);
  text-decoration: none;
}

.new .p {
  margin-bottom: 12.22px;
}

.new .h3 {
  color: var(--extra-dark);
}

.subscription-wrapper {
  padding: 6px;
  border-radius: 16px;
  background-color: var(--extra-light);
  background-image: url("../images/email-background.jpg");
  background-size: cover;
}

.subscription {
  padding: 26px;
  padding-right: 24px;
  border-radius: inherit;
  background-color: var(--extra-light);
  height: 100%;
}

.subscription .p {
  margin-bottom: 42px;
}

.email {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 24px;
  align-items: center;
}

.email .input {
  flex: 1;
  flex-shrink: 1;
  width: 100%;
}

/*---Доставка---*/
.delivery {
  margin: 80px 0;
  margin-top: 76px;
  border-radius: 16px;
  padding: 64px;
  padding-left: 100px;
  background-color: var(--pink-neutral);
  background-image: url("../images/delivery-background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery .delivery-info {
  flex-basis: 371px;
  margin-right: 30px;
}

.delivery .h2 {
  margin-bottom: 24px;
}

.delivery-form {
  flex-basis: 500px;
  padding: 40px;
  padding-bottom: 42px;
  background-color: var(--extra-light);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 117px auto;
  column-gap: 16px;
  row-gap: 20px;
  box-shadow: var(--shadow-big);
}

.delivery-form .p {
  margin-bottom: 12px;
  grid-column: 1/-1;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group-address {
  grid-column: 1/-1;
}

.delivery-form .button {
  margin-top: 12px;
  grid-column: 1/-1;
  justify-self: center;
}

/*----- i -----*/
.wrapper-i {
  position: relative;
  padding-right: 18px;
  width: fit-content;
}

.tooltip {
  position: absolute;
  display: inline-block;
  bottom: 2px;
  right: 0;
}

.dop-info {
  display: block;
  width: 14px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-image: url("../images/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* обратная связь */
.feedback {
  margin: 80px 0;
  margin-bottom: 0;
  border-radius: 16px;
  padding: 64px;
  background-color: var(--pink-neutral);
  background-image: url("../images/feedback-background.jpg");
  background-size: cover;
}

.feedback-window {
  width: fit-content;
  max-width: 50%;
  padding: 40px;
  background-color: var(--extra-light);
  border-radius: 8px;
  box-shadow: var(--shadow-medium);
}

.address {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--extra-dark);
}

.feedback-window .p + .address {
  margin-top: 12px;
}

.feedback-window .address + .p {
  margin-top: 24px;
}

.feedback-window .p:last-of-type {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.feedback-window .button {
  margin-top: 32px;
  min-height: 46px;
}

/*-------- страница каталога ----------*/
/*хлебные крошки*/
.inner-header {
  margin: 32px 0;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  left: calc(100% + 8px);
  width: 12px;
  aspect-ratio: 1/1;
  background-color: transparent;
  background-image: url("../images/breadcrumbs.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-underline-offset: 3.4px;
  display: inline-block;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.7;
}

.breadcrumbs-link:active {
  opacity: 0.5;
}

.breadcrumbs + .h2 {
  margin-top: 16px;
}

/*фильтр*/
.catalog-filter {
  margin: 40px 0;
  display: flex;
}

.catalog-filter-group {
  margin: 0 24px 16px 0;
  display: flex;
}

.catalog-filter-title {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  margin-bottom: 8px;
}

.form-button {

}

/*продукты*/
.products-catalog .products-list {
  margin: 48px 0;
}

/*пагинация с кнопкой*/
.pagination-container {
  margin-top: 57px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-wrapper {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container .button {
  transform: translateX(-50%);
  align-self: flex-start;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-item {
  display: block;
  margin: 9px 0;
}

.pagination-link {
  display: block;
  min-width: 24px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  border: 1px solid transparent;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 1px 6px;
  text-align: center;
  outline: none;
}

.pagination-link-current {
  background-color: var(--extra-light);
  border: 1px solid var(--extra-light);
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid var(--extra-light);
}

.pagination-link:active {
  background-color: var(--extra-light);
  border: 1px solid var(--extra-light);
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid var(--extra-dark);
}

.pagination-prev,
.pagination-next {
  min-width: 16px;
  background-image: url("../images/arrow-left.svg");
  background-position: center left 63%;
  background-size: 6px 10.67px;
  background-repeat: no-repeat;
}

.pagination-prev {
  transform: rotate(180deg);
  margin-right: 16px;
}

.pagination-next {
  margin-left: 16px;
}

.pagination-link:not([href]),
.pagination-link-disabled {
  background-color: transparent;
  outline: none;
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

/*--------------ФУТЕР----------*/
.page-footer {
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/*соцсети*/
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}

.social-item {
  margin: 0 8px;
  margin-bottom: 8px;
}

.social-item-link {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  display: block;
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);
  outline: none;
}

.social-item-link svg {
  fill: var(--extra-light);
}

.social-item-link:hover {
  background-color: var(--extra-dark);
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2), inset 0 0 1px 1px var(--extra-light);
}

.social-item-link:focus {
  background-color: var(--extra-dark);
  box-shadow: 0 0 0 2px var(--extra-dark), inset 0 0 1px 1px var(--extra-light);
}

.social-item-link:active {
  background-color: var(--pink-neutral);
  box-shadow: 0 0 0 2px var(--pink-neutral), inset 0 0 1px 1px var(--extra-light);
}

/*навигация футера*/
.footer-navigation {
  display: flex;
}
.footer-navigation-list {
  padding-left: 24px;
}

.footer-navigation-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-navigation-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  display: block;
}

.footer-navigation-link:hover {
  opacity: 0.7;
}

.footer-navigation-link:active {
  opacity: 0.5;
}

.footer-navigation-link b {
  position: relative;
}

.footer-navigation-link b::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/like.svg");
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}

/*HTML academy*/
.html-academy-wraper {
  margin-right: 14px;
}

.htmlacademy-logo-link {
  display: flex;
  margin-bottom: 14px;
}

.htmlacademy-logo-link svg {
  fill: var(--extra-dark);
}

.htmlacademy-logo-link:hover svg {
  fill: var(--extra-bright);
}

.htmlacademy-logo-link:active svg {
  fill: var(--extra-bright);
  opacity: 0.6;
}

.html-academy-wraper .p {
  color: inherit;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
  text-underline-offset: 2.3px;
  text-decoration-color: rgba(45, 52, 64, 0.5);
  position: relative;
}

.htmlacademy-link:hover {
  color: var(--extra-bright);
  text-decoration-color: var(--extra-bright);
}

.htmlacademy-link:active {
  color: var(--extra-bright);
  text-decoration-color: var(--extra-bright);
  opacity: 0.6;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  padding-bottom: 66px;
  background-color: var(--extra-light);
  box-shadow: var(--shadow-big);
  border-radius: 8px;
}

.modal-feedback {
  width: 570px;
}

.modal-feedback .h3 {
  margin-bottom: 32px;
}

.close-window {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: var(--extra-dark);
}

.close-window svg {
  fill: currentColor;
}

.close-window:hover {
  color: var(--extra-bright);
}

.close-window:active {
  color: var(--extra-bright);
  opacity: 0.6;
}

.close-window:focus {
  color: var(--extra-bright);
  box-shadow: 0 0 0 2px var(--extra-dark);
}

.modal-form {
  display: grid;
  grid-template-columns: auto;
  row-gap: 16px;
}

.modal-form .button {
  margin-top: 32px;
  margin-right: -2px;
  justify-self: end;
}

.input[name="message"] {
  resize: none;
}

.input[name="name"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  right: 0;
}

/*----ПОПОВЕРЫ----*/
.popover-close {
  display: none;
}

.popover {
  position: absolute;
  top: calc(100% + 8px);
  background-color: var(--extra-light);
  border-radius: 4px;
  z-index: 1;
}

.navigation-main-menu .popover {
  left: 0;
}

.navigation-user-menu .popover {
  right: 0;
}

.delete-button {
  width: 16px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}

/*Всплывающее меню какталога*/
.navigation-main-menu .navigation-link:hover + .popover-close {
  display: block;
}

/*мост*/
.navigation-link:hover::after {
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
}

.popover-close:hover {
  display: block;
}

.catalog-menu-popover {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  box-shadow: var(--shadow-medium);
  width: max-content;
  max-width: 250px;
}

.catalog-menu-popover b {
  padding: 16px;
  padding-bottom: 0;
}

.catalog-menu-popover b::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--neutral);
  margin-top: 11px;
}

.catalog-menu-popover-list {
  margin: 6px 0 10px 0;
}


.catalog-menu-popover-link {
  display: block;
  padding: 6px 16px;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.catalog-menu-popover-link span {
  position: relative;
  display: inherit;
  z-index: 2;
}

.catalog-menu-popover-link::before {
  content: " ";
  position: absolute;
  height: calc(100% + 4px);
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}

.catalog-menu-popover-link-current {
  color: var(--white);
}

.catalog-menu-popover-link-current::before {
  background-color: var(--bright);
}
.catalog-menu-popover-link:hover,
.catalog-menu-popover-link:active{
  color: inherit;
}
.catalog-menu-popover-link:hover::before {
  background-color: var(--pink-extra-light);
  z-index: 1;
}

.catalog-menu-popover-link:active::before {
  background-color: var(--pink-neutral);
  z-index: 1;
}


/*Поповер поиска*/
.search-popover {
  padding: 24px 16px;
  box-shadow: var(--shadow-medium);
  width: 356px;
}

.input[type="search"] {
  width: 100%;
  padding-right: 42px;
}

.input[type="search"]::-webkit-search-decoration,
.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-results-button,
.input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-input-reset-button-wrapper {
  position: relative;
}

.search-reset-button.delete-button {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
  display: none;
}

.input[type="search"]:valid + .search-reset-button.delete-button {
  display: block;
}

.search-reset-button.delete-button:hover {
  opacity: 1;
}

/* Аутентификация пользователя*/
.auth-user-popover {
  min-width: 420px;
  padding: 48px;
  padding-bottom: 52px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 16px;
  box-shadow: var(--shadow-big);
}

.auth-user-popover .h3 {
  margin-bottom: 16px;
}

.auth-user-popover .input:focus::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.auth-user-popover .button-with-links-wrapper {
  margin-top: 16px;
}

.button-with-links-wrapper {
  display: flex;
}

.button-with-links-wrapper .button {
  align-self: flex-start;
}

.auth-links-list {
  margin-left: 23px;
}

.auth-links-item {
  font-size: 14px;
  line-height: 20px;
}

.auth-links-item:not(:last-child) {
  margin-bottom: 4px;
}

.auth-links-link {
  display: inline-block;
  position: relative;
  text-underline-offset: 3.4px;
  color: inherit;
}

.auth-links-link:hover {
  color: var(--extra-bright);
}

.auth-links-link:active {
  color: var(--extra-bright);
  opacity: 0.6;
}


/*Попер корзины*/
.basket-popover {
  display: none;
  width: max-content;
  min-width: 441px;
  max-width: 641px;
  padding: 48px;
  border-radius: 4px;
  box-shadow: var(--shadow-big);
}

.basket-popover .h3 {
  margin-bottom: 32px;
}

.cart-items-list {
  margin: 32px 0;
}

.cart-items-list::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background-color: var(--light);
  position: relative;
  right: 0;
  left: 0;
  margin-top: 31px;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-item-image {
  position: relative;
  aspect-ratio: 1 / 1;
  flex: 0 0 46px;
  margin-right: 16px;
}

.characteristic {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
}

.characteristic dt {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.characteristic dd {
  padding-top: 4px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral);
}

.cart-item .price {
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
}

.cart-item-delete-button {
  margin-left: 52px;
}

.cart-item-delete-button:hover {
  opacity: 0.7;
}

.cart-item-delete-button:active {
  opacity: 0.5;
}

.final-sum {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.final-sum b {
  margin-left: 16px;
  font-size: 18px;
}

/*пустая корзина*/
.empty-basket-popover {
  display: none;
  width: 288px;
  padding: 48px;
  border-radius: 4px;
  box-shadow: var(--shadow-medium);
  text-align: center;
}

/* пустая/заполненная корзина */
.products-yes .products-not-added {
  display: none;
}

.products-no .products-added {
  display: none;
}

.products-yes .basket-popover {
  display: block;
}

.products-no .empty-basket-popover {
  display: block;
}

/*
.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button,
.select-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/