@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*бордер бокс на всю страницу*/
*, ::after, ::before {
box-sizing: inherit;
} 

html {
  box-sizing: border-box;
}

.class {
  box-sizing: content-box;
}

:root {
  /*цвета*/
  --extra-dark: #2d3440;
  --dark: #565c66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --white: #ffffff;
  --extra-bright: #ff2f64;
  --bright: #ff4a78;
  --neutral: #ff7799;
  --light: #feafc3;
  --exta-light: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --error: #ea5454;
  --warning: #fd912e;
  --success: #00e484;
  /*Тени*/
  --shadow-small: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --shadow-medium: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --shadow-big: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

body {
  font-family: "Inter", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark);
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /*min-width: 1366px; убрать в конце*/
  background-color: var(--light);
  transition: background-color 0.6s;
}

.pink {
  background-color: var(--light);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: transparent;
}

/*--Скрытый элемент--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2 {
  font: inherit;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.h3 {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.p {
  font: inherit;
  color: var(--dark);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*кнопки*/
.button {
  cursor: pointer;
  display: block;
  outline: none;
  border: 4px solid;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  min-height: 44px;
  margin: 0;
  padding: 12px 32px;
  font: inherit;
  font-weight: 700;
  line-height: 20px;
}

.white-button {
  background: var(--extra-light);
  border-color: rgba(252, 252, 252, 0.4);
  color: var(--extra-dark);
}

.pink-button {
  background: var(--extra-bright);
  border-color: rgba(255, 47, 100, 0.3);
  color: var(--extra-light);
}

/*Список*/
.navigation-main-menu,
.navigation-user-menu {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

/*Хедер*/
.page-logo {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
}


.navigation-main-menu {
  margin: 10px 16px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  cursor: pointer;
  display: block;
  outline: none;
  border-radius: 26px;
  border: none;
  margin: 0;
  text-decoration: none;
  font: inherit;
  line-height: 20px;
  color: inherit;
}

a.navigation-link {
  padding: 8px 16px;
  font-size: 16px;
}

.navigation-link-current {
  background-color: var(--bright);
  color: var(--extra-light);
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
}

button.navigation-link {
  padding: 6px 16px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
}

a.navigation-link:hover,
button.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

a.navigation-link:focus,
button.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
}

a.navigation-link:active,
button.navigation-link:active {
  background-color: var(--extra-light);
}